@model BlueKoi_Enterprise_Final_Project.Models.ViewModels.ViewModelData

@{
    Layout = "_Layout";
    ViewData["Title"] = "Confirm";
}



<div class="container-fluid h-100">
    <div class="row h-100">
        <div class="col-lg-12  align-center dark">
            <div class="card-sign main-rounded col-lg-8 bg-light ">

                <form asp-action="ConfirmViewPost" class="needs-validation" novalidate>
                    <input type="hidden" asp-for="@Model.AccountId" value="@Model.AccountId" />
                    <input type="hidden" asp-for="@Model.CardType" value="@Model.CardType" />
                    <input type="hidden" asp-for="@Model.Order.OrderCartId" value="@Model.OrderCartId" />
                    <input type="hidden" asp-for="@Model.Order.ItemId" value="@Model.Item.Id" />
                    <input type="hidden" asp-for="@Model.Order.ItemURL" value="@Model.Item.ItemURL" />
                    <input type="hidden" asp-for="@Model.Order.OrderState" value="0" />
                 

                    <div class="row">
                        <div class="col-lg-6">
                            <h3 class="my-3">Order Details</h3>
                            <p>Account : @Model.AccountId</p>
                            <p>Cart ID : @Model.OrderCartId</p>


                        </div>
                        <div class="col-lg-6">
                            <img class="my-3" height="200"
                                 src="@Model.Item.ItemURL" alt="art">
                        </div>
                    </div>


                    <table class="table table-bordered">
                        <tbody>
                            <tr>
                                <th scope="row">Total Before Tax</th>
                                <td>$@Model.Item.ItemPrice</td>

                            </tr>

                            <tr>
                                <th scope="row">Estimated Tax</th>
                                <td>$0.00</td>

                            </tr>
                            <tr class="bg-secondary text-white">
                                <th scope="row">Order Total</th>
                                <td>$@Model.Item.ItemPrice</td>

                            </tr>
                        </tbody>
                    </table>

                    <button type="submit" class="btn btn-black btn-purple btn-rounded btn-lg btn-block text-uppercase my-3">Confrim Order</button>

                </form>

                <hr class="my-3 d-none d-lg-block">
                <a asp-action="StorePageView" asp-route-id="@Model.AccountId">
                    <i class="fa fa-long-arrow-left m-r-5"
                       aria-hidden="true"></i> Cancel Order
                </a>

            </div>
        </div>
    </div>
</div>
