
@model BlueKoi_Enterprise_Final_Project.Models.ViewModels.ViewModelData

@{
    Layout = "_Layout";
    ViewData["Title"] = "StorePage";
}


<nav class="navbar navbar-expand-lg navbar-dark dark py-3">
    <div class="container">
        <a asp-action="StorePageView" asp-route-id="@Model.Account.Id" class="navbar-brand">
            <img src="~/images/BlueKoi.png" width="30" height="30" class="d-inline-block align-top mr-2 rotate" alt="">
            <span>Blue Koi</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
                <form asp-action="StorePageView" method="post" class="form-inline my-2 mx-lg-auto">
                    <input type="hidden" name="id" value="@Model.Account.Id" />
                    <input name="search" class="form-control mr-sm-2 form-wide" type="search" placeholder="Search" autocomplete="off" aria-label="Search">
                    <button id="search-btn" class="btn btn-white btn-purple my-2  my-sm-0" type="submit"><i class="fas fa-search"></i></button>
                </form>

                <li>
                    <a class="nav-link active" asp-action="AccountView" asp-route-id="@Model.Account.Id">Account</a>
                </li>
                <li>
                    <a class="nav-link active" asp-action="OrderCartView" asp-route-id="@Model.Account.Id">Orders <i class="fas fa-border-all"></i></a>
                </li>
                <li>
                    <a class="nav-link active" asp-action="ShoppingCartView" asp-route-id="@Model.Account.Id">Cart <i class="fas fa-shopping-cart"></i></a>
                </li>
            </ul>
        </div>
    </div>
</nav>



<div class="container-fluid bg-dark py-4">
    <div class="container">
        <div class="row align-center ">
            
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%leifheanzo">leifheanzo</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%snatti89">Snatti89</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%unpreti">Unpreti</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%nixeu">Nixeu</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%wlop">Wlop</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%talros">talros</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-searchData="by%razaras">Razaras</a>
            <a class="btn btn-danger mx-1" asp-action="StorePageView" asp-route-id="@Model.Account.Id" asp-route-specialItems="special%KOIDB">Special Items</a>
        </div>
    </div>
</div>

<main>


    @if (ViewBag.msg != null)
    {
        <div class="container py-2">
            <p class="text-danger py-2">@ViewBag.msg</p>
        </div>

    }

    @if (Model.ItemsSimple1 != null)
    {
        <div class="container py-2">
            <div class="brgrid">
                @foreach (var image in Model.ItemsSimple1)
                {

                    <a asp-action="ItemView" asp-route-id="@Model.Account.Id" asp-route-url="@image["urls"]["regular"]">
                        <div class="card-al " style="background-image:url(@image["urls"]["regular"])"> <img class="mx-2" height="30" src="~/images/DeviantArt.png" alt=""></div>
                    </a>

                }
            </div>
        </div>
    }


    @if (Model.ItemsSimple2 != null)
    {
        <div class="container py-2">
            <div class="brgrid">
                @foreach (var image in Model.ItemsSimple2)
                {

                    <a asp-action="ItemView" asp-route-id="@Model.Account.Id" asp-route-url="@image["media:content"]["@url"]">
                        <div class="card-al " style="background-image:url(@image["media:content"]["@url"])"> <img class="mx-2" height="30" src="~/images/DeviantArt.png" alt=""></div>
                    </a>

                }
            </div>
        </div>
    }


    @if (Model.Items != null)
    {
        <div class="container py-2">
            <h5>Set : Developer Favorites</h5>
            <div class="brgrid">
                @foreach (var item in Model.Items)
                {
                    <a asp-action="ItemView" asp-route-id="@Model.Account.Id" asp-route-itemId="@item.Id">
                        <div class="card-al " style="background-image:url(@item.ItemURL)"> <img class="mx-2" height="30" src="~/images/BlueKoi.png" alt=""></div>

                    </a>

                }
            </div>
        </div>
    }


</main>
