
@model BlueKoi_Enterprise_Final_Project.Models.Account

@{
    Layout = "_Layout";
    ViewData["Title"] = "StorePage";
}


<nav class="navbar navbar-expand-lg navbar-dark dark py-3">
    <div class="container">
        <a asp-action="StorePageView" asp-route-id="@Model.Id" class="navbar-brand">
            <img src="~/images/BlueKoi.png" width="30" height="30" class="d-inline-block align-top mr-2 rotate" alt="">
            <span>Blue Koi</span>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav w-100">
                <form asp-action="StorePageView" method="post" class="form-inline my-2 mx-lg-auto">
                    <input type="hidden" name="id" value="@Model.Id" />
                    <input name="search" class="form-control mr-sm-2 form-wide" type="search" placeholder="Search" aria-label="Search">
                    <button id="search-btn" class="btn btn-white btn-purple my-2  my-sm-0" type="submit">Search</button>
                </form>

                <li>
                    <a class="nav-link active" asp-action="AccountView" asp-route-id="@Model.Id">Account</a>
                </li>
                <li>
                    <a class="nav-link active" asp-action="OrderCartView" asp-route-id="@Model.Id">Orders</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

<div class="container-fluid bg-dark py-2">
    <div class="container">
        <div class="row justify-content-between">
            <img class="mx-2" height="30" src="~/images/ArtStation.png" alt="">           
            <img class="mx-2" height="30" src="~/images/Pinterest.png" alt="">
            <img class="mx-2" height="30" src="~/images/DeviantArt.png" alt="">
        </div>
    </div>
</div>

<div class="container-fluid bg-dark py-4">
    <div class="container">
        <div class="row ">
            
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%romanrazgriz">romanrazgriz</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%snatti89">Snatti89</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%unpreti">Unpreti</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%kawacy">Kawacy</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%nixeu">Nixeu</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%wlop">Wlop</a>
            <a class="btn btn-white btn-purple mx-1" asp-action="StorePageView" asp-route-id="@Model.Id" asp-route-searchData="by%rossdraws">Ross</a>
        </div>
    </div>
</div>

<main>


    @if (ViewBag.msg != null)
    {
        <div class="container py-2">
            <p class="text-danger py-2">@ViewBag.msg</p>
        </div>

    }

    @if (ViewBag.pinterestData != null)
    {
        <div class="container py-2">

            <div class="brgrid">
                @foreach (var data in ViewBag.pinterestData)
                {
                    <a asp-action="ItemView" asp-route-id="@Model.Id" asp-route-url="@data["urls"]["regular"]">
                        <div class="card " style="background-image:url(@data["urls"]["regular"])"> <img class="mx-2" height="30" src="~/images/Pinterest.png" alt=""></div>
                    </a>
                }
            </div>
        </div>

    }


    @if (ViewBag.devData != null)
    {
        <div class="container py-2">
            <div class="brgrid">
                @foreach (var image in ViewBag.devData)
                {

                    <a asp-action="ItemView" asp-route-id="@Model.Id" asp-route-url="@image["media:content"]["@url"]">
                        <div class="card " style="background-image:url(@image["media:content"]["@url"])"> <img class="mx-2" height="30" src="~/images/DeviantArt.png" alt=""></div>
                    </a>

                }
            </div>
        </div>
    }

    
    
        <div class="container py-2">
            <h5>Set : Developer Favorites</h5>
            <div class="brgrid">
                @foreach (var item in ViewBag.images)
                {
                    <a asp-action="ItemView" asp-route-id="@Model.Id" asp-route-url="@item.ItemURL">
                        <div class="card " style="background-image:url(@item.ItemURL)"> <img class="mx-2" height="30" src="~/images/BlueKoi.png" alt=""></div>
                    </a>
                }
            </div>
        </div>
    





</main>
